<div class="vertical">
    <div class="horizontal">
        <label for="input-id">Id</label>
        <input name="input-id" [(ngModel)]="id">
    </div>

    <div class="horizontal field">
        <label for="input-name">Name</label>
        <input name="input-name" [(ngModel)]="pokemonSearchString">
    </div>

    <div class="horizontal field">
        <select [(ngModel)]="id">
            <option class="capitalize" *ngFor="let p of (pokemons | pokemonFilter:pokemonSearchString)" [value]="p.id">{{ p.name }}
            </option>
        </select>

    </div>

    <div class="horizontal">
        <button id="go" (click)="go()">Go!</button>
    </div>
</div>