/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-right: 1em;
}